{% extends 'base.html' %}
{% block content %}
<h2 class="page-title">➕ Nouvelle catégorie</h2>

<div class="card-saahel p-4" style="max-width:500px;">
    <form method="POST" class="form-saahel">
        <div class="mb-3">
            <label class="form-label">Nom de la catégorie</label>
            <input type="text" name="nom" class="form-control" placeholder="Ex: Textiles" required>
        </div>
        <div class="mb-4">
            <label class="form-label">Description</label>
            <textarea name="description" class="form-control" rows="3" placeholder="Description optionnelle..."></textarea>
        </div>
        <div class="d-flex gap-3">
            <button type="submit" class="btn-saahel-primary">Créer la catégorie</button>
            <a href="/categories" class="btn-saahel-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
